.ma-genre-tag {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 15px;
  border: 0.5px solid;
  background: #f3f3f3;
  box-shadow: 2px 2px #ccc;
}